@{
    ViewData["Title"] = "Home Page";
    ViewData["Heading"] = "Welcome to Libaray Management System";
}
<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to Library Management Application</h1>
        <p class="lead text-muted">
            Can Take the Book and Return the Books
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search books</a>
        </p>
    </div>
</section>

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<div class="text-center">
    <h1>@ViewData["Heading"]</h1>
    <h3>Using View Bag</h3>
    <ol>
        @foreach (string items in ViewBag.LibraryItems)
        {
            <li>
                @items
            </li>
        }

    </ol>
</div>
<h1>Using View Data</h1>
<ul>
    @foreach (string student in ViewData["Student"] as List<string>)
    {
        <li>@student</li>
    }
</ul>
<h1>Using Temp Data</h1>
<ul>
    @foreach (var student in TempData["Students"] as List<string>)
    {
        <li>@student</li>
    }
</ul>



@section scripts{
    <script>
        $(document).ready(function () {
            //alert("document is ready");
        })
    </script>
}

